[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "envi"]
	path = envi
	url = https://github.com/lance-waller-lab/envi
[submodule "gateR"]
	path = gateR
	url = https://github.com/lance-waller-lab/gater
